<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Board -->
        <add key="Board.Size.Rows" value="3"/>
        <add key="Board.Size.Columns" value="3"/>

        <!-- Player -->
        <add key="Player.Remote" value="1"/>  
        <add key="Player.Bots" value="1"/>
        
        <!-- Network -->
        <add key="Network.AllowRemoteConnection" value="false"/>

        <!-- Resources -->
        <add key="Resources.DictionaryFolder" value="Resources/Dictionaries"/>
        <add key="Resources.DictionaryFile" value="CollinsScrabbleWords2019.txt"/>
        <add key="Resources.BoardFolder" value="Resources/Boards"/>
        <add key="Resources.BoardFile" value="5x5_testboard.txt"/>
        <add key="Resources.TileSchemaFolder" value="Resources/TileSchemas"/>
        <add key="Resources.TileSchemaFile" value="en.txt"/>
    </appSettings>
</configuration>