<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Board -->
        <add key="Board.Size.Rows" value="3"/>
        <add key="Board.Size.Columns" value="3"/>
        
        <!-- Language -->
        <add key="Language.UI" value="en"/>
        <add key="Language.Dictinary" value="en"/>

        <!-- Player -->
        <add key="Player.Humans" value="1"/>  
        <add key="Player.Bots" value="1"/>
    </appSettings>
</configuration>